@media screen and (max-width: 1600px) {
 
    main {
        width: 90vw;
        height: 80vh;
        margin: 5vh auto;
    }
}

@media screen and (max-width: 1200px) {
  
    main {
        width: 96vw;
        height: 80vh;
        margin: 10vh auto;
    }
}