@media screen and (min-width: 0) {
    body { 
        font-size: 12px;
    }  

    main {
        width: 60vw;
        height: 60vh; 
        flex-direction: column; 
        flex-wrap: nowrap;
        gap: 1vw;      
    }

   
    .titulo{
        font-size: 20px;
    }

    .robotron {
        background-position: center;
        margin: 0;
        max-width: 300px 
               
    }
    
    .robo {
        max-width: 300px   
   }
}

       
@media screen and (min-width: 768px) {
    body { 
        font-size: 12px;
    }   

    main {
        flex-direction: row;  
        gap: 1vw; 
        height: 80vh;
        margin: 5vh auto; 
        width: 80vw; 
    }

    
    .titulo{
        font-size: 80px;
    }

    .robotron {
        background-position: center center;
        flex-basis: 80%;
        margin: 0;        
        position: relative;
                      
    }
    
    .robo {
        left: -60%;
        max-width: 600px;      
        position: absolute;
        top: -5%;
        z-index: 1;
    }
}


@media screen and (min-width: 992px) {
    body { 
        font-size: 16px;
    }   

    main {
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 2vw;  
        height: 80vh;
        margin: 10vh auto;
       
        width: 80vw;      
    }

   
    .titulo{
        font-size: 130px;
    }
    
    .robotron {
        background-position: center center;
        flex-basis: 40%; 
        margin: 0;
        max-width: 400px;  
        position: relative;                     
    }
    
    .robo {
        height: 110%;
        left: -30%;
        max-width: 700px; 
        position: absolute;
        top: -5%;
        z-index: 1;
    }   

}